.Q{
  width: 400px;
  height: 500px;
}

.W{

  width: 400px;
  height: 500px;
}

.E{

  width: 400px;
  height: 500px;
}

.R{

  width: 400px;
  height: 500px;
}

.T{

  width: 400px;
  height: 500px;
}

.LOL {
  height: 80px;
}
